NEXT_PUBLIC_SITE_URL="http://localhost:3000"

BETTER_AUTH_SECRET=""

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_DATABASE_ID=""
CLOUDFLARE_D1_TOKEN=""

DODO_PAYMENTS_ENVIRONMENT="test_mode" # or "live_mode"
DODOPAYMENTS_BEARER_TOKEN=""
DODO_PAYMENTS_WEBHOOK_KEY=""
DODO_PAYMENTS_PRODUCT_ID=""
