# Ignore build and output directories
/.next
/out

# Ignore node_modules directory
/node_modules

# Ignore static files
/public

# Ignore test files
/__tests__

# Ignore coverage reports
/coverage

# Ignore logs
/logs

# Ignore temporary files
/.tmp

# Ignore configuration files
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Ignore version control files
/.git
/.gitignore

# Ignore package lock files
/package-lock.json
/yarn.lock
.pnpm-lock.yaml

# Ignore IDE and editor specific files
/.vscode
/.idea
/.DS_Store
*.sublime-*
*.swp
*.swo
*.bak
*.tmp
*.log
*.pid
*.pid.lock
*.log.*
